:root{
    --var-red:#9c0b0b;
    --var-grey: #535353;
    --var-black: #000000;
    --var-white: #ffffff;
    --var-Aqua: #0acae4;
    --main-dark: #999;
}
*{
    margin: 0;
    padding: 0;
}

*::after,
*::before {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
@media (max-width: 75em){
    html{
        font-size: 60%;
    }
}
@media (max-width: 61.25em){
    html{
        font-size: 58%;
    }
}
@media (max-width: 28.75em){
    html{
        font-size: 55%;
    }
}

body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--var-white);
}
img{
    display: block;
    width: 100%;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
}
h1{
    font-size: 6rem;
}
h3{
    font-size: 4.2rem;
}
h4{
    font-size: 2.0rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--var-white);
}

/*NavBar*/

.Nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--var-red);
    z-index: 10;
}
.Nav-list{
    display: flex;
    margin-right: 2rem;
}
@media (max-width: 28.75em) {
    .Nav {
        justify-content: center;
    }
    .Nav-list {
        margin: 0 1rem;
    }
}
.Nav-list a {
    display: block;
    font-size: 2.1rem;
    padding: 2rem;
}

/*---WELCOME SECTION--*/

.Welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    width: 100%;
    height: 100vh;
    background-color: var(--var-grey);
}

.Welcome-section p{
    font-size: 3rem;
    font-weight: 300;
    font-style: oblique;
    color: var(--var-red);
}

/*--PROJECT SECTION--*/

.Projects{
    text-align: center;
    padding: 10rem 2rem;
    background: var(--var-Aqua);
}
.project-header{
    max-width: 640px;
    margin: 0 auto 3rem auto;
    border-bottom: 0.2rem solid var(--var-white);
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap:3rem;
    width: 100%;
    max-width:  1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    
}
@media (max-width: 30.625em){
  .Projects {
    padding: 6rem 1rem;
  }
  .project-grid {
    grid-template-columns: 1fr;
  }

}
#project{
    background: var(--var-grey);
    border-radius: 2px;
}
.project-tile{
    font-size: 2rem;
    padding: 2rem 0.5rem;
}
.project-tile img{
    height: calc(90% - 4.8rem);
    width: 100%;
    object-fit: cover;
 
}

.code{
    height: 30px;
    background: #535353;
    transition: 0.3s ease-in;
}
.code:hover{
    color: #ff7f50;
    transform: translateY(-5px);
    
}
/*--CONTACT SECTION--*/

.Contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: #2f2f70c4;
}
.contact-header{
    font-size: 6rem;
    border-bottom: 0.2rem solid var(--var-white);
}
@media (max-width: 28.75em) {
    .Contacts  {
      font-size: 4rem;
    }
  }
  
  .contact-header  h4 {
    font-style: italic;
  }
.Contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
   flex-wrap: wrap;
   
}
.links{
    font-size:3.1rem ;
    padding: 1.5rem;
    text-shadow: 2px 2px 1px crimson;
    transition: 0.3s ease-out;
}
.links:hover{
    transform: translateY(-8px);
}
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: #2f2f70c4;
    border-top: 4px solid var(--var-red);
  }